body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0.5em;
}

.menu li {
  text-align: center;
  margin: 0.1em;
  padding: 0.1em;
}

.Component {
  margin: 0.5em;
  padding: 0.5em;
  border-bottom: 1px solid #666;
}

.Component::after,
.artBucket::after {
  clear: both;
  content: ' ';
  display: block;
}

.formField {
  margin: 0.5em 0;
}

.formField label {
  width: 100px;
  display: inline-block;
}

.itemList {
  float: left;
  width: 50%;
}

.background {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.background--active {
  background: #a6b5ff;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid transparent;
}

.picture--active {
  border: 5px solid #a6b5ff;
}

.counter {
  width: 150px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 20px;
  margin: 0 20px 20px 0;
  float: left;
}

.hover {
  background: wheat;
}

.section {
  border: 1px solid #CCC;
  border-radius: 15px;
  padding: 0 0.7em;
}